#main__container {
  width: 100%;
  /* max-width: 30%; */
  margin: 100px;
  display: flex;
  justify-content: flex-start;
}

#user__card {
  /* box-sizing: border-box; */
  margin-right: 30px;
}

#song__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-top: 60px;
}

#img__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  height: 250px;
}

#welcome__saying {
  font-weight: 200;
  font-size: 2rem;
}

.btn__like {
  position: absolute;
  translate: 110px;
  font-size: 1.3rem;
  border-color: black !important;
  border-radius: 1.98rem 0 1.6rem 0;
  box-shadow: 3px 3px 1px 1px rgba(255, 0, 242, 0.2);
}

#login__button {
  position: absolute;
  top: 50%;
  right: 45%;
  text-decoration: none;
  background-color: rgb(46, 226, 46);
  color: white;
  padding: 10px;
  border-radius: 1.6rem;
}

.active {
  background-color: rgb(59, 212, 59) !important;
}
